<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/styles.css"/>
  <title>Edit a Fruit with id <%= fruit._id %></title>
</head>
<body>
  <h1>Edit <%= fruit._id %> !</h1>
  <form action="/fruits/<%=fruit._id%>?_method=PUT" method="POST">
    <label for="text">Fruit Text:</label>
    <input type="text" name="text" id="text" value="<%= fruit.text %>" />
    <label for="isReadyToEat">Did You Eat it?</label>
    <input 
        type="checkbox" 
        name="isReadyToEat" 
        id="isReadytoEat" 
        <% if(note.isReadyToEat){ %>
            checked
        <% } %> />
    <button type="submit">Edit Fruit</button>
  </form>
  <a href="/fruits/<%=fruit._id%>">Back to Fruit Selection Page for <%=fruit._id%> </a>
</body>
</html>